.marketing-container {
  width: 1341px;
  height: 268px;
  border: none;
  border-radius: 20px;
  padding: 33px 190px;
  margin: 57px 48px;
  background-color: #4f200e;
  color: white;
}

.cont {
  width: 961px;
  height: 193px;
  color: white;
  gap: 37px;
}

.cont p {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  padding: 0px 10px 0px 10px;
}

.cont span {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  padding: 0px 10px 0px 10px;
}

.prop {
  display: flex;
  align-items: center;
  margin-left: 217.5px;
  width: 526px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}
.web {
  background-color: rgba(225, 225, 225, 0.1);
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 17px;
  width: 340px;
  height: 60px;
}

.proposal {
  background-color: #ff8500;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 17px;
  width: 340px;
  height: 60px;
}
